.nav {
  background-color: #D3D3D3;
  height: 80px;
}

.nav h1 {
  padding-right: 20px;
}

.nav .row{
  padding-left: 5px;
  padding-top: 5px;
}

.container-fluid {
  padding-top: 25px;
}

.jumbotron {
  background-color: black;
  height: 750px;
}

body {
  background-color: black;
}
.container-fluid .row .col-md-2{
  background-color: black;
  height: 750px;
}

.container-fluid .row .col-md-2 h4{
  color: #D3D3D3;
  }
