/* need to make the sub drop down menu appear on the right */

.popover{
    max-width: 800px; /* Max Width of the popover */
}

#rgbcombinatordiv button {
   font-size: 100%;
}


/* this is for auto complete with type WCPS band */
.ui-autocomplete {
	color: red;
	max-height: 150px;
	overflow-y: auto;
	/* prevent horizontal scrollbar */
	overflow-x: hidden;
}

.dropdown-menu {
  top: 0%;
  min-width: 170px;
  width:170px;

  z-index: 1000;

   position:absolute;
  font-size: 90%;
  margin-left: -20px;
  font-size: 75%;
}

.dropdown-menu>li>a {
  margin-left: -10px;
}  

/* RGB combination dropdown */
#dropDownSelectedFootPrintsMenu .dropdown-menu {
  font-size: 90%;
  width: 375px;
  margin-left: 0px;
  min-width: 220px;

  position: relative;
  vertical-align: middle;
  font-size: 75%;

}

.dropdown-menu>li>a:focus {
  background-color: transparent;
}

.dropdown-menu>li>a:hover {
  opacity: 0.2;
  background-color: transparent;
}

/*  rgb bands dropdown submenu */
#dropDownRGBBands.dropdown-menu .scrollable-sub-menu {
  margin-left: 110px;
  width: 240px;

  /* scroll bar vertical */
  max-height: 350px;
  overflow-y: scroll;

  z-index: 1000;

  position:absolute;
  font-size: 85%;
}

/* submenu items */
#dropDownRGBBands.dropdown-menu .scrollable-sub-menu{
  width: 60px;
  margin-left: 70px;
}

/* wcps bands dropdown submenu  ID and class is on same then no space between*/
#dropDownWCPSBands.dropdown-menu .scrollable-sub-menu {
  margin-left: 40px;
  width: 340px;
  min-width: 240px;

  /* scroll bar vertical */
  max-height: 350px;
  overflow-y: scroll;

  z-index: 1000;
  font-size: 85%;
}
